
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

section{
    width: 52%;
    top: 360px;
    margin-top: 20px;
    position: absolute;
    left: 20%;
    padding: 4%;
    background-color: gainsboro;
    border-radius: 5%;
}
.formulario{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formulario div{
    left: -20%;
}

section article:first-child{
    text-align: justify;
    font-size: large; 
}

article{
    padding-bottom: 20px;
}

article ul,audio{
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: large;
}

article h3{
    text-align: center;
    font-family: Raleway;
    font-size: x-large;
    text-shadow: 20%;
    color: rgb(51, 8, 82);
}

header{
    text-align: center;
    background-color: gainsboro;
    padding-bottom: 0.2%;
    width: 1000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header h1{
    font-size: 40px;
    color: rgb(51, 8, 82);
}

table{
    display: table;
    font-size: large;
    border-style: solid;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: rgb(51, 8, 82);
    border-width: 3px;
    text-align: center;
}

table th{
    background-color: rgb(51, 8, 82);
    color: white;
}

body{
    background-image: url("../Img/Gradient.svg");
    background-position-y: 20%;
}

.formulario button{
    background-color: #510882;
    color: aliceblue;
    padding: 5px;
    width: 110px;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 800px){
    
    section{
        width: 100%;
        position: inherit;
        left: 0%;
        transform: translateX(0%);
        border-radius: 0%;
        padding: 0%;
    }
    footer{
        display: none;
    }
    header{
        width: 100%;
        position: inherit;
        left: 0%;
        transform: translateX(0%);
    }
    header img{
        width: 100%;
        height: auto;
        left: 0%;
        transform: translateX(0%);
    }
    body{
        margin: 0%;
    }
}