
section{
    width: 52%;
    top: 360px;
    margin-top: 20px;
    position: absolute;
    left: 20%;
    padding: 4%;
    background-color: gainsboro;
    border-radius: 5%;
}
section article:first-child{
    text-align: justify;
    font-size: large; 
}

article{
    padding-bottom: 20px;
}

article ul,audio{
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: large;
}

article h3{
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
    text-shadow: 20%;
    color: rgb(51, 8, 82);
}

header{
    text-align: center;
    background-color: gainsboro;
    padding-bottom: 0.2%;
    width: 1000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header h1{
    font-size: 40px;
    color: rgb(51, 8, 82);
}

table{
    display: table;
    font-size: large;
    border-style: solid;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: rgb(51, 8, 82);
    border-width: 3px;
    text-align: center;
}

table th{
    background-color: rgb(51, 8, 82);
    color: white;
}

body{
    background-image: url("Gradient.svg");
    background-position-y: 20%;
}

footer{
    position: absolute;
    top: 215%;
}